@import "tailwindcss";

#root{
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
  height: 100%;
  overflow: hidden;
}

/* Utility to hide scrollbars while keeping scrolling functional */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
